* {
    margin: 0;
    padding: 0;
}

.ta {
    min-width: 1180px;
    background-color: #131313;
    margin: auto;
}

.ta1 {
    width: 1180px;
    margin: auto;
}

.ta1 span {
    line-height: 60px;
    color: #3399cc;
    font-size: 20px;
}

.ta1 ul {
    float: right;
    line-height: 60px;
}

.ta1 li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    position: relative;
    /* text-decoration: none; */
}

.ta1 li a {
    text-decoration: none;
    color: #999999;
    font-size: 18px;
}

.ta1 li span:first-child {
    width: 20px;
    height: 12px;
    top: 30px;
    left: 18px;
    position: absolute;
    border-bottom: 2px solid #3399cc;
    border-right: 2px solid #3399cc;
    display: none;
}

.ta1 li span:last-child {
    width: 20px;
    height: 12px;
    top: 17px;
    /* left: -1px; */
    right: 20px;
    position: absolute;
    border-top: 2px solid #3399cc;
    border-left: 2px solid #3399cc;
    display: none;
}

.ta1 li a:hover {
    color: #3399cc;
}

.ta1 li a:hover span {
    display: block;
}

.tb {
    min-width: 1180px;
    height: 520px;
    background: url("./images/4/4.jpg")no-repeat center;
}

.tc {
    min-width: 1180px;
    height: 1400px;
    background-color: #0e0e0e;
    position: relative;
}

.tc1 {
    width: 1180px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    color: #999999;
}

.tc6 {
    min-width: 1180px;
    height: 350px;
}

.tc6 ul {
    width: 1180px;
    margin: auto;
    position: relative;
}

.tc6 li {
    float: left;
    height: 249px;
    width: 150px;
    list-style-type: none;
    margin-right: 100px;
    margin-left: 136px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tc2 {
    background: url("./images/4/4-2.png")no-repeat center;
}

.tc3 {
    background: url("./images/4/4-5.png")no-repeat center;
}

.tc4 {
    background: url("./images/4/4-7.png")no-repeat center;
}

.tc6 span {
    color: #999999;
    position: absolute;
    top: 300px;
    margin-left: 27px;
}

.tc2:hover {
    background: url("./images/4/4-3.png")no-repeat center;
}

.tc3:hover {
    background: url("./images/4/4-4.png")no-repeat center;
}

.tc4:hover {
    background: url("./images/4/4-6.png")no-repeat center;
}

li:hover>span {
    color: #3399cc;
}

.tc7 {
    min-width: 1180px;
    /* position: relative; */
}

.tc7 tr td {
    background-color: #333333;
    color: #999999;
}

.tc8 {
    width: 1150px;
    height: 260px;
    margin: auto;
    border-collapse: collapse;
    background-color: #333333;
    position: relative;
    border-radius: 15px;
    margin-bottom: 20px;
}

.xiazai {
    background: url("./images/4/4-8.png")no-repeat left;
    background-position-x: 13px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin: auto;
    border: 2px solid #999999;
    line-height: 40px;
}

.xiazai span {
    padding-left: 30px;
}

.tc8 table:hover tr td {
    color: #3399cc;
    /* border: 2px solid #3399cc; */
}

.tc8 table:hover .xiazai {
    border: 2px solid #3399cc;
}

.tc9 {
    position: absolute;
    left: 625px;
    /* width: 180px; */
    bottom: 60px;
    text-align: center;
    /* line-height: 100px; */
    /* height: 100px;*/
}

.tc9 ul {
    /* width: 1180px; */
    /* margin: auto; */
    list-style-type: none;
    /* margin-left: 20px; */
    /* position: absolute; */
}

.tc9 li {
    float: left;
    color: #999999;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid #999999;
}

.tc9 li:hover {
    border: 2px solid #3399cc;
    color: #3399cc;
}

.td {
    min-width: 1180px;
    height: 310px;
    margin: auto;
    background-color: #0f0f0f;
    position: relative;
}

.td1 {
    width: 1180px;
    margin: auto;
    color: #999999;
    padding-top: 50px;
    text-align: center;
}

.td2 {
    width: 1180px;
    margin: auto;
    position: relative;
}

.td ul {
    position: absolute;
    left: 70px;
    top: 34px;
    list-style-type: none;
}

.td li {
    margin-bottom: 20px;
}

.td3 {
    position: absolute;
    left: 25%;
    top: 34px;
    color: aliceblue;
}

.td3 p {
    margin-bottom: 20px;
}

#tp {
    font-size: 18px;
}

.td4 {
    position: absolute;
    left: 80%;
    top: 78px;
    color: aliceblue;
}

.td4 p {
    margin-bottom: 20px;
}

.tx1 {
    min-width: 1180px;
    background-color: #131313;
}

.tx2 {
    width: 1180px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    color: #999999;
}